<!DOCTYPE html>
<html lang="en">
<head>
<title>ACE in Action</title>
<link rel="stylesheet" href="/css/editor.css">
</head>
<body>
<div class="header">
  Thunder code editor
</div>
<div class="flex1">
  <div id="editor" draggable="true">function foo(items) {
      var x = "All this is syntax highlighted";
      return x;
  }</div>

  <div id="ioBlock">
    <div class="ioBlock">
      <div class="heading">
        INPUT
      </div>
      <div id="input" contenteditable="true">

      </div>
    </div>
    <div class="ioBlock">
      <div class="heading">
        OUTPUT
      </div>
      <div id="output">

      </div>
    </div>
  </div>
</div>
<button id="run_btn">
RUN
</button>

<script src="/ace-builds-master/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
<script src="/javascript/editor.js",type="text/javascript",charset="utf-8">

</script>
</body>
</html>
