<!DOCTYPE html>
<html lang="en">
<head>
<title>Thunder editor</title>
<link rel="stylesheet" href="/css/editor.css">
</head>
<body>
<div class="header">
  Thunder code editor
</div>
<div class="flex">
  <div class="boxHeading">
      <div class="space1">

      </div>
      <select id="language" name="lang">
        <option value="c_cpp">cpp</option>
        <option value="java">java</option>
        <option value="python">python</option>
      </select>

      <select id="theme" name="theme">

      </select>



  </div>
  <div class="flex1">
    <div id="editor" draggable="true">#include "iostream"
using namespace std;
int main()
{
      cout<<"doing...........";

}

    </div>

    <div id="ioBlock">
      <div class="ioBlock">
        <div class="heading">
          INPUT
        </div>
        <div id="input" contenteditable="true">

        </div>
      </div>
      <div class="ioBlock">
        <div class="heading">
          OUTPUT
        </div>
        <div id="output">

        </div>
      </div>
    </div>
  </div>
  <button id="run_btn">
  RUN
  </button>
</div>


<script src="/ace-builds-master/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
<script src="/javascript/editor.js",type="text/javascript",charset="utf-8">

</script>
</body>
</html>
